# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy

# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Deploy Azure WebApp resources using Terraform

on:
  workflow_dispatch:

env:
  TF_WORKING_DIR: ./terraform

jobs:

  deploy:
    name: Deploy Azure WebApp resources
    runs-on: ubuntu-latest
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    defaults:
      run:
        working-directory: ${{ env.TF_WORKING_DIR }}
    permissions:
      pull-requests: write

    env:
      env:
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}}
        ARM_CLIENT_SECRET: ${{secrets.ARM_CLIENT_SECRET}}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }

    steps:

      - name: Checkout repo
        uses: actions/checkout@v3

      # - name: Log in to Azure
      #   uses: azure/login@v1
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform install
        uses: hashicorp/setup-terraform@v2.0.3
        with:
          terraform_version: 1.3.9

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true

      - name: Terraform init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform plan
        id: plan
        run: terraform plan -no-color
        continue-on-error: true

      - name: Terraform apply
        id: apply
        run: terraform apply -auto-approve